.table > table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
 .table > table td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
.table > table >  tr:nth-child(even) {
    background-color: #dddddd;
  }